.searchheader {
  background-color: #ffffff;
  margin-top: 3px;
  width: 100%;
}
.searchheadchild {
  position: relative;
  width: 400px;
  padding: 20px;
}
input::placeholder {
  font-size: 1.1rem;
}
/* CSS */
@media (max-width: 500px) {
    .searchheader .searchheadchild {
        margin-left:2px;
        width: 80%;
    }
    .searchheader .searchheadchild input {
      width:60%; 
      padding: 8px; 
      font-size: 14px; 
      margin: 0;
      padding: 0;
    }
  
    .searchheader .searchheadchild {
      position: relative;
    }
  
    .searchheader .searchheadchild input {
      padding-right: 40px; 
    }
  
    .searchheader .searchheadchild .faSearch {
      right: 15px;   
      font-size: 18px; 
    }
  }
  
